// ------------------ IMPORT DES  STYLE DE BASE ET DE RESET --------------------
@import 'scss/reset';
@import 'scss/base';

// -------------------------------- VARIABLES ----------------------------------
$couleur-fond: #0F111B;
$couleur-police-principale: #A3ACD0;
$couleur-police-secondaire: #4A4F64;
$couleur-bleu: #65CDC4;

$largeur-navbar-verticale: 10vh;
$largeur-navbar-verticale-ouverte: 30vh;
$hauteur-navbar-horizontale: 6vh;


body {
    margin: 0;
    padding: 0;
}

.tout {
    position: fixed;
    display: inline-flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}


/**
 * NAVBAR VERTICALE--------------------------------------------------------
 */
.sidebar {
    height: 100%;
    width: 78px;
    background: $couleur-fond;
    //padding: 6px 14px;

    transition: all 0.5s ease;

    #bottom {
        position: fixed;
        display: flex;

        justify-content: center;
        align-items: center;

        bottom: 0;
        left: 0;

        background: $couleur-bleu;
        color: black;

        font-size: 25px;

        border-radius: 5px;

        width: 40px;
        height: 40px;
    }

    .logo-details {
        height: $hauteur-navbar-horizontale;

        display: flex;

        justify-content: center;
        align-items: center;
        position: relative;

        .icon {
            opacity: 0;
            transition: all 0.5s ease;
        }

        .logo_name {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            transition: all 0.5s ease;
        }

        #btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 23px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }

    i:not(.bottom) {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }

    .nav-list {
        margin-top: 20px;
        height: auto;


    }

    li {
        position: relative;
        margin: 8px 0;
        list-style: none;

        .tooltip {
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }

        &:hover {
            .tooltip {
                opacity: 1;
                pointer-events: auto;
                transition: all 0.4s ease;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        a {
            display: flex;
            height: calc(50px + 2.5vh);
            width: 100%;

            border-radius: 12px;

            align-items: center;

            padding: 0 20%;

            text-decoration: none;
            transition: all 0.4s ease;
            background: $couleur-fond;

            .links_name {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                white-space: nowrap;
                opacity: 0;
                pointer-events: none;
                transition: 0.4s;
            }

            &:hover {
                background: #fff;
            }
        }

        i {
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            border-radius: 12px;
        }

        .profile-details {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

    }

    input {
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }
}

.sidebar.open {
    width: $largeur-navbar-verticale-ouverte;

    #btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    li {
        .tooltip {
            display: none;
        }
    }

    input {
        padding: 0 20px 0 50px;
        width: 100%;
    }
}


.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}
 

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

li.profile {
    width: $largeur-navbar-verticale-ouverte;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}



@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

/**
 * NAVBAR HORIZONTALE-----------------------------------------------------
 */

.content {
    width: 100%;
    background: $couleur-fond;
    transition: all 0.5s ease;

    img {
        height: 100%;
        object-fit: fill;
    }
}


.file-bar {
    width: 100%;
    height: $hauteur-navbar-horizontale;
    background: $couleur-fond;

}


.nav-links {
    display: flex;
    align-items: center;
    
    height: 100%;

    li:not(.plus, .points) {
        list-style: none;
        margin: 0 12px;

        a {
            position: relative;
            color: $couleur-police-principale;
            font-size: 20px;
            font-weight: 500;
             padding: 6px 0;
            //text-decoration: none;
            padding: 0 10px;

        }

        .bx {
            color: transparent;
        }


        .croix {
            color: transparent;
        }

        &:hover:not(.active) {
            border-bottom: $couleur-police-secondaire 2px solid;
            .croix {
                color: $couleur-police-secondaire;
                &:hover {
                    color: $couleur-police-principale;
                }
            }
        }


    } &:before {
        border-bottom: $couleur-fond 2px solid;
    }

    li {
        position: relative;
        color: $couleur-police-principale;
        font-size: 20px;
        cursor: pointer;
        margin-left: 20px;
    }

    li.center a:before {
        left: 50%;
        transform: translateX(-50%);
    }

    li.active {
        border-bottom: $couleur-police-principale 2px solid;

        .bx {
            font-size: 15px;
            color: #FFAE62;
        }

        .croix {
            color: $couleur-police-secondaire;
            &:hover {
                color: $couleur-police-principale;
            }
        }
    }

    li.bouton-plus {
        color: red;
        font-size: 40px;
    }
}



.nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before {
    bottom: 0;
    opacity: 1;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}



/**
 * CONTENU----------------------------------------------------------------
 */


.contenu {
    display: inline-flex;
    width: 100%;
    height: 100%;

    padding: 1vw;

    border: black 1px solid;

    .numeros {
        height: 100%;
        width: 3vw;

        .ligneCode {
            text-align: right;
        }
    }

    .code {
        font-family: Menlo;
        height: 100%;
        width: 97vw;

    }

    .ligneCode {
            color: $couleur-police-secondaire;
            line-height: 40px;
            text-align: left;
            padding-right: 5px;

            font-size: 25px;
    }
}
